@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.gallery {
    margin: 46px 0 68px;
    box-sizing: border-box;
}

.gallery__list {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 17px;
    margin: 0;
}

.gallery__item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.gallery__discription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
}

.gallery__img {
    width: 100%;
    object-fit: cover;
}

.gallery__img-title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery__item-like {
    background-image: url("../images/like.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
    width: 21px;
    height: 19px;
}

.gallery__item-like:hover {
    cursor: pointer;
    opacity: 0.5;
}

.gallery__item-like:active {
    background-image: url("../images/black-heart.png");
    animation: pulse 1s forwards;
    opacity: 1;
}

@media screen and (max-width: 884px) {
    .gallery__list {
        grid-template-columns: repeat(2, minmax(282px, 1fr));
        grid-gap: 17px;
    }
}

@media screen and (max-width: 680px) {
    .gallery__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}