.logo {
    width: 173px;
    height: 33px;
    margin: 45px 0 41px;
}

@media screen and (max-width: 680px) {
    .logo {
        width: 126px;
        height: 33px;
        margin: 28px 0 32px 27px;
    }
}