.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* could also be absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal__opened {
    display: flex;
}