.modal {
    display: none;
    position: absolute;
    top: calc(50vh - 330px/2);
    left: calc(50vw - 430px/2);
    width: max-content;
    height: max-content;
    z-index: 101;
    background-color: white;
    padding: 34px 36px 36px;
    border-radius: 6px;
}

.modal__open {
    display: block;
}

.modal__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 54px;
}

.modal__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    border: none;
    padding: 0;
}

.modal__input {
    width: 358px;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    box-sizing: border-box;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal__input:focus {
    border: 1px solid rgb(77, 77, 185);
    border-radius: 4px;
    box-shadow: 0 0 3px rgb(77, 77, 185);
}

.modal__save-button {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    height: 50.15px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    margin-top: 18px;
}

.modal__close-button {
    background: url("../images/close__button.png") transparent center no-repeat;
    background-size: 40px;
    text-decoration: none;
    position: absolute;
    object-fit: cover;
    border: none;
    padding: 0;
    height: 40px;
    width: 40px;
    right: -42px;
    top: -42px;
}

.modal__close-button:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 680px) {
    .modal {
        top: calc(40vh - 322px/2);
        left: calc(50vw - 282px/2);
        padding: 25px 22px;
    }
    .modal__close-button {
        background-size: 26px;
        height: 26px;
        width: 26px;
        top: -40px;
        right: 0;
    }
    .modal__title {
        text-align: start;
        font-size: 18px;
        line-height: 22px;
    }
    .modal__input {
        width: 238px;
        height: 30px;
    }
    .modal__save-button {
        font-size: 14px;
        line-height: 17px;
        height: 46px;
        margin-top: 16px;
    }
}