.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__main {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 40px;
}

.profile__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__discription {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__discription-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.profile__discription-name {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 373px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.profile__edit-button {
    text-decoration: none;
    background-image: url("../images/edit_button.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    object-fit: cover;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    margin: 75px 0 0 0;
    text-decoration: none;
    background-image: url("../images/add_button.svg");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    object-fit: cover;
    background-color: transparent;
    padding: 0;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.profile__discription-title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0;
    max-width: 415px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 884px) {
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 680px) {
    .profile__main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile__add-button {
        width: 282px;
        margin-top: 36px;
    }
    .profile__discription {
        margin-top: 26px;
        margin-left: 0;
    }
    .profile__discription-name {
        font-size: 22px;
        line-height: 27px;
        max-width: 196px;
        text-align: center;
    }
    .profile__discription-title {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0;
    }
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}